@using Vtest94.ViewModels;
@model CreateVideoViewModel

@section Scripts {
    <script src="~/js/videoUpload.js"></script>
}

<form method="post" asp-action="Create" enctype="multipart/form-data">

    <!-- Bind to the properties of the Video object -->
    <div class="form-group">
        <label asp-for="Video.Title"></label>
        <input asp-for="Video.Title" class="form-control text-white" />
        <span asp-validation-for="Video.Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Video.Description"></label>
        <textarea asp-for="Video.Description" class="form-control text-white"></textarea>
        <span asp-validation-for="Video.Description" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedCategoryId">Category</label>
        <select asp-for="SelectedCategoryId" asp-items="Model.Categories" class="form-control text-white">
            <option value="">Please select a category</option>
        </select>
        <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
    </div>

    <!-- File input for the video file -->
    <div class="form-group">
        <label asp-for="VideoFile"></label>
        <input asp-for="VideoFile" type="file" class="form-control-file" />
        <span asp-validation-for="VideoFile" class="text-danger"></span>
    </div>

    <!-- Video Preview -->
    <div id="videoPrevContainer" class="form-group" style="display:none;">
        <video id="videoPreview" controls style="max-width: 100%; max-height: 500px;"></video>
    </div>

    <!-- Thumbnail Selection -->
    <div id="thumbnailSelector" style="display:none;">
        <input type="range" id="frameSlider" min="0" max="100" value="0" class="form-control-range">
        <p>Choose the frame for the thumbnail.</p>
    </div>
    <input type="hidden" asp-for="ThumbnailFrameTime" value="0" />

    <button type="submit" class="btn btn-primary">Upload</button>
</form>
