p {
    margin: 0;
}

h2 {
    margin: 0;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.custom-circle-img {
    object-fit: cover;
    border-radius: 180px;
    max-width: 150px;
}

.custom-card-profile {
    background-color: #343434 !important;
    border-color: #343434 !important;
}

.custom-file-input input[type="file"] {
    display: none;
}

.custom-file-input {
    max-height: 150px;
}

.custom-choose-photo {
    max-width: 150px;
    max-height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    cursor: pointer;
}

.custom-choose-photo img {
    width: 100%;
    border-radius: 50%;
}

.custom-photo-overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 95px;
    background: linear-gradient(to bottom, transparent, rgba(0, 0, 0, 1));
}

#uploadPhotoModal .modal-dialog {
    max-width: 300px !important;
}

.upload-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    border-top-color: orange;
}

.modal-content {
    border-color: orange;
    border-width: 3px;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

.cropper-view-box,
.cropper-face {
    border-radius: 50%;
}

.cropper-container {
    max-width: auto;
    max-height: 600px;
    height: auto;
    min-width: 300px;
    min-height: 300px;
}

#imageToCrop {
    display: block;
    max-width: 600px;
    max-height: 600px;
    object-fit: cover;
}

#popupInfoBox {
    display: none;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: forestgreen;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.profile-header-image {
    border-radius: 30px;
    margin-bottom: 20px;
    max-height: 200px;
}

.profile-header-image img {
    border-radius: 30px;
    max-height: 200px;
    width: 100%;
    object-fit: cover;
}

.profile-video-description {
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    margin-bottom: 5px;
}

.profile-video-info {
    font-size: 13px;
    color: #b9b9b9;
}

.duration-box {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 2px 5px;
    border-radius: 3px;
    font-size: 0.9em;
}

#uploadPhotoBtn {
    box-sizing: border-box;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    color: white;
    transition: background-color 0.3s ease;
    padding: 5px 10px 7px 10px;
    margin-left: 10px;
}

#uploadPhotoBtn:hover {
    background-color: gray;
}