.custom-circle-img {
    object-fit: cover;
    border-radius: 180px;
}

.custom-card-profile {
    background-color: #343434 !important;
    border-color: #343434 !important;
}

#imagePreviewContainer img {
    margin: 0 auto;
    max-height: 300px;
}