.selected {
    background-color: #424649 !important;
    border-color: #565e64 !important;
}

.tv-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
}

.big-img, .small-img {
    object-fit: cover;
    width: 100%;
}

.big-img {
    height: 100%;
}

.small-img {
    height: 100%;
}

.left {
    max-width: 630px;
    max-height: 350px;
    position:relative;
}

.left .tv-video-info {
    font-size: 22px;
    padding: 4.3em 1em 0 1em;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 315px;
}

.right .tv-video-info {
    font-size: 12px;
    padding: 3.5em 1em 0 1em;
}

.right-sub {
    max-height: 170px;
    position: relative;
}

.tv-video-info {
    top: 50%;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0));
}

.text-gray {
    color: rgba(232, 230, 227, 0.75);
}

.submenu-divider {
    margin: 50px auto 35px auto;
    height: 1px;
    background-color: gray;
}

.video-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.video-item img {
    margin-bottom: 0.4em;
    max-width: 100%;
    height: auto;
}

.video-item .video-title {
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2;
    font-weight: bold;
    color: rgb(211, 207, 201);
}

.video-item div p {
    display: -webkit-box;
    word-break: break-word;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 8;
    font-weight: normal;
    color: rgb(168, 160, 149);
}

.video-item div {
    margin-top: 5px;
}

.controls {
    display: flex;
    justify-content: space-between;
}

.inner-controls {
    gap: 8px;
    align-items: center;
}