p {
    margin: 0 !important;
}

.video-container {
    position: relative;
    background-color:transparent !important;
    border-color:transparent !important;
}

.thumbnail-container {
    position: relative;
}

.btn-play {
    padding: 0;
    box-sizing: border-box;
    width: 74px;
    height: 74px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

video {
    display: none;
    width: 100%;
}

.video-thumbnail {
    width: 100%;
}

.custom-card-body {
    flex: 1 1 auto;
    padding: 8px 16px 16px;
}