@using Vtest94.ViewModels;

@model LoginViewModel

@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_AccountLayout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/Account/Login.css" asp-append-version="true" />
}

<div class="login-form text-white">
    <h2>Login</h2>
    <form asp-action="Login" asp-controller="Account" method="post" class="form-horizontal">
        <div class="mb-3">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 form-check">
            <input asp-for="RememberMe" class="form-check-input" />
            <label asp-for="RememberMe" class="form-check-label">Remember me</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
    <hr class="text-bg-danger w-100"/>
    <form asp-action="LoginWithGoogle" method="get">
        <button type="submit" value="Login with Google" class="btn btn-danger">
            <i class="fab fa-google"></i> Login with Google
        </button>
    </form>
</div>


