@using Vtest94.ViewModels;

@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_AccountLayout.cshtml"; // Ensure you are using the correct layout
}

@section Styles {
    <link rel="stylesheet" href="~/css/Account/Register.css" asp-append-version="true" />
}

<div class="register-form text-white">
    <h2>Register</h2>
    <form asp-action="Register" asp-controller="Account" method="post" class="form-horizontal">
        <div class="mb-3 maxw-300px">
            <label asp-for="Email" class="form-label">Email address</label>
            <input asp-for="Email" class="form-control"/>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="mb-3 maxw-300px">
            <label asp-for="FirstName" class="form-label">First Name</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="mb-3 maxw-300px">
            <label asp-for="LastName" class="form-label">Last Name</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="mb-3 maxw-300px">
            <label asp-for="Password" class="form-label">Password</label>
            <input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="mb-3 maxw-300px">
            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="register-form-submit">
            <button type="submit" class="btn btn-primary">Register</button>
            <a asp-controller="Account" asp-action="Login">Login</a>
        </div>
    </form>
    <hr class="text-bg-danger w-100"/>
    <!-- Google Signup Button -->
    <form asp-action="ExternalLogin" asp-controller="Account" method="post">
        <button type="submit" name="provider" value="Google" class="btn btn-danger">
            <i class="fab fa-google"></i> Signup with Google
        </button>
    </form>
</div>

