body {
    font-family: 'Arial', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #1d1f20 !important;
}

input.form-control:-webkit-autofill,
input.form-control:-webkit-autofill:hover,
input.form-control:-webkit-autofill:focus,
input.form-control:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #23232329;
}

.form-control,
.form-control:focus {
    box-shadow: none !important;
    border-color: #262a2b !important;
    background-color: #262a2b !important;
}

.form-control::placeholder {
    color: white !important;
}

.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    padding: 0.5rem 0.5rem;
}

.navbar-brand img {
    height: 45px;
}

.nav-item.dropdown {
    position: relative;
}

.drop-down-background {
    background-color: #1f2223 !important;
}

button.identifier.dropdown-toggle::after {
    content: none;
}

.identifier {
    border: none;
    padding: 0;
    background-color: transparent;
}

.no-box-shadow {
    box-shadow:none !important;
}

.hover-bg:hover {
    background-color: #383838 !important;
}

.left-panel {
    flex: 0 0 15%;
    background-color: #1f2223;
}

.middle-panel {
    flex: 0 0 65%;
    background-color: #181a1b;
}

.right-panel {
    flex: 0 0 20%;
    background-color: #1f2223;
}

.right-panel aside {
    margin-bottom: 40px;
}

.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: 0;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu li:hover .dropdown-submenu {
    display: block;
}

#signedUserPhoto {
    max-height: 40px;
    max-width: 40px;
    border-radius: 50%;
}

.photo-dropdown-bg {
    background-color: #262a2b !important;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #343a40;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}