.login-form {
    border: 2px solid #5600a1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

#popupInfoBox {
    display: block;
    position: fixed;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    background-color: darkred;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

.login-form-submit {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
}

.login-form-submit a:visited,
.login-form-submit a:link {
    color: white;
}