.register-form {
    border: 2px solid #5600a1;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    width: 100%;
    max-width: 430px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.form-horizontal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.maxw-300px {
    max-width: 300px;
}