<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vtest94</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vtest94.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <!-- Brand/logo -->
                <a class="navbar-brand" asp-area="" asp-controller="Video" asp-action="Index">Vtest94</a>

                <!-- Navbar links -->
                <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
                    <!-- Left aligned items -->
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" asp-area="" asp-controller="Video" asp-action="Create">Upload</a>
                        </li>
                    </ul>

                    <!-- Center aligned items - Search bar -->
                    <form class="d-flex" role="search" asp-controller="Video" asp-action="Index" method="get">
                        <input class="form-control me-2" type="search" name="searchString" placeholder="Search Videos" aria-label="Search" value="@ViewData["CurrentFilter"]">
                        <button class="btn btn-outline-success" type="submit">Search</button>
                    </form>

                    <!-- Right aligned items - Dropdown -->
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Account
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" asp-controller="Video" asp-action="Profile">Profile</a>
                                <div class="dropdown-divider"></div>
                                <form asp-action="Logout" asp-controller="Account" method="post" class="dropdown-item">
                                    <button type="submit" style="all:unset; width:100%; cursor:pointer;">Log Out</button>
                                </form>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2024 - Vtest94 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
