.custom-search-box-input {
    width: 45%;
}

.custom-navbar-brand {
    padding: 0;
}

.nav-item.dropdown {
    position: relative;
}

button.identifier.dropdown-toggle::after {
    content:none;
}

.no-box-shadow {
    box-shadow:none !important;
}

.padded-divider {
    padding: 0 5%; /* Adjust the percentage as necessary to effectively set the width of the `<hr>` to 80% */
}

.custom-divider {
    background-color: lightgray;
    border-color: lightgray;
    margin: 4px 0 !important;
}

.icon-margin-r {
    margin-right: 15px;
}

.flex-row-custom {
    display: flex;
}

.left-panel {
    flex: 0 0 15%; /* Fixed at 15% */
    max-width: 15%;
    background-color: #1f2223;
    padding: 20px 10px;
}

.middle-panel {
    flex: 0 0 70%; /* Fixed at 70% */
    max-width: 70%;
    background-color: #181a1b;
}

.right-panel {
    flex: 0 0 15%; /* Fixed at 15% */
    max-width: 15%;
    background-color: #f8f9fa;
}

.account-dd li:not(.padded-divider) *:hover {
    background-color: #dde7e7;
}

.custom-widget-item:not(:last-child) {
    margin-bottom: 10px;
}

.custom-channel-picture {
    max-width: 60px;
    width: 60px;
    min-width: 60px;
    height: 60px;
    margin-right: 0.5rem;
}

.channel-img {
    object-fit: cover;
    border-radius: 8px;
    width: 100%;
    height: 100%;
}

.custom-channel-info * {
    margin: 0;
    padding: 0;
}

.custom-channel-info {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

.custom-channel-info a {
    font-size: 14px;
}

.custom-channel-info p {
    font-size:12px;
}

.channel-info-name {
    max-width: 120px;
    text-decoration: none;
}

.channel-info-name:link,
.channel-info-name:visited {
    color: orange;
}