.user-profile {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

    .user-profile h2, .user-profile h3 {
        color: #333;
    }

    .user-profile ul {
        list-style-type: none;
        padding: 0;
    }

.custom-circle-img {
    object-fit: cover;
    border-radius: 180px;
}

.custom-card-profile {
    background-color: #343434 !important;
    border-color: #343434 !important;
}